@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: linear-gradient(180deg, #87CEEB 0%, #A7C6ED 100%); /* Gradiente do céu azul */
    --cor-nuvens: #FFFFFF; /* Cor das nuvens */
    --cor-sol: #F4A300; /* Laranja claro representando o pôr do sol */
    --gradiente-ceu-profundo: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%); /* Gradiente para o céu profundo */
    --fonte-principal: "Poppins", sans-serif;
}

body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-sol); /* Ajuste para cor do texto se necessário */
}

.header {
    background: var(--gradiente-ceu-profundo);
    padding: 20px;
    color: var(--cor-nuvens);
    text-align: center;
    font-size: 24px;
}

/* Cria nuvens de forma estilizada */
.nuvem {
    background: var(--cor-nuvens);
    width: 100px;
    height: 60px;
    border-radius: 50px;
    position: relative;
}

.nuvem::before,
.nuvem::after {
    content: '';
    background: var(--cor-nuvens);
    position: absolute;
    width: 100px;
    height: 60px;
    border-radius: 50px;
}

.nuvem::before {
    top: -20px;
    left: 20px;
}

.nuvem::after {
    top: 10px;
    left: 50px;
}
