@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --cor-de-fundo: #EBECEE; /* Um tom suave que representa nuvens */
    --branco: #FFFFFF; /* Branco puro, representando nuvens e espaço aéreo */
    --laranja: #EB9B00; /* Um tom de laranja que pode remeter ao pôr do sol */
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%); /* Azul do céu profundo */
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --azul: #002F52; /* Azul marinho, remetendo a segurança e estabilidade */
    
    /* Novas cores */
    --azul-claro: #A7C6ED; /* Azul claro, lembrando o céu em um dia ensolarado */
    --cinza-nuvem: #D0D3D4; /* Cinza suave, parecido com nuvens */
    --amarelo-pouso: #F7EA00; /* Amarelo claro, pode simbolizar luz e esperança, como luzes de pouso */
    --verde-seguro: #A3D2A5; /* Verde suave, representando segurança e tranquilidade */
}

html,
body {
  height: 100%; /* Ocupa toda a altura da janela */
  margin: 0; /* Remove a margem padrão do body */
}

.animacao-ceu {
  position: fixed; /* Fixa a animação no fundo */
  top: 0; /* Posiciona no topo */
  left: 0; /* Posiciona à esquerda */
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100%; /* Ocupa toda a altura da tela */
  z-index: -1; /* Garante que fique atrás dos outros elementos */
  overflow: hidden; /* Evita que a animação ultrapasse a área */
}

.container {
  width: 100%; /* Ocupa toda a largura disponível */
  height: 100%; /* Ocupa toda a altura disponível */
  background: linear-gradient(0, #120c56, #000000);
  overflow: hidden;
}

.stars {
  position: absolute; /* Alinhado com o container */
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow:
    50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white; /* Mantenha o mesmo box-shadow que você já tem */
  animation: anim-stars 10s linear infinite;
}

.stars2 {
  position: absolute; /* Alinhado com o container */
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow:
    15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white; /* Mantenha o mesmo box-shadow que você já tem */
  animation: anim-stars 20s linear infinite;
}

@keyframes anim-stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-150px);
  }
}
